body { 
    text-align: left;
    font-family: Comic Sans MS;
    font-size: 30px;
    box-shadow: 2px 7px 2px;
    color : white;

}
#mission{
    display: block;
    width: 25%;
    height: auto;
}
.overlay {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgrey;
}
.container:hover .overlay {
    opacity: .5;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
body{
    background-color: black ;
}
nav{
    background-color: white;
}