body { 
    text-align: left;
    font-family: Comic Sans MS;
    font-size: 30px;
    box-shadow: 2px 7px 2px;

}
#mission{max-width: 25%;
        max-height: 25%;
        ;
}
body{background-color: hotpink ;}
nav{background-color: white;}