:root {
    /* change the values below to your colors from your palette */
    --primary-color: white;
    --secondary-color: #81827C;
    --accent1-color: #223D3C;
    --accent2-color: #188BF6;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Arial";
    --paragraph-font: "Times New Roman", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #81827C  ;
    --nav-link-color: white;
    --nav-background-color: #223D3C;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #BABABA;
  }
  
body{
    padding: 0;
    margin:  0;
}
header{
    display: grid;
    grid-template-columns: 135px 120px auto ;
    /* border: 5px solid black; */
    box-shadow: #6f7364 2px 2px 2px;
    background-color: var(--primary-color);
    color: var(--headline-color-on-white);
    padding: 20px;
}
header a {
    display: flex;
}
nav {
    display: flex;
    justify-content: space-evenly;
    grid-column: 3/4;
}
.tel-email {
    color:var(--headline-color-on-white);
    display:inline-flex;
    align-content: right;
    text-decoration: none;
    font-size: .8em;
}
nav a {
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    color: black;
    margin:10px
}
nav a:hover {
    color: var(--paragraph-background-color);
}
a #joey{
    width: 135px;
    height: auto;
    border-radius: 5%;
}
#logo{
   height: 100px;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
#hero-box{
    background-color: var(--secondary-color);
    margin: 100px;
}
#hero_image{
    max-width: 100%;
}
main-section img{
    box-sizing: border-box;
}
.about_joey{
    display:inline-flex;
    font-size: 1.7em;
    background-color: var(--accent1-color);
    color: var(--paragraph-color-on-color);
    align-items: center;
}
#wistful{
    display:flex;
    height: 750px;
}
#colored_background{
    color: var(--paragraph-color-on-color);
}
.success{ 
        max-width: 33%;
}
footer{
    background-color: var(--accent1-color);
    padding: 15px 50px;
    margin-top: 100px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.15em;
    color: white;
}
footer img{
    max-width: 50px;
    max-height: 50px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}